<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Сайт о диабете</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  </head>
  <!-- описание класса header - шапки веб-сайта -->
  <header>
    <a href="/" id="0"><img src="img/DIA.png" /></a>
    <!-- логотип, при нажатии на который можно перейти на гл. стр. -->
    <div class="header_menu">
      <!-- меню в шапке сайта -->
      <ul>
        <li><a href="/news"><%=one%></a></li>
        <li id="2">
          <a id="2.2" href="/school"
            ><script>
              SwapBackground("2.2", "2");
            </script>
            Школа диабета</a
          >
        </li>
        <li><a href="/about"><%=two%></a></li>
      </ul>
    </div>
  </header>

  <body>
    <img
      src="img/school.jpg"
      style="width: 800px; position: absolute; left: 175px"
    />
    <div class="right_menu">
      <% for(var i=0; i<items.length; i++) {%>
 
      <ul style="margin: 0 0 20px -34px">
        <li style="padding-top: 40px; margin: 40px 0 80px">
          <img
            src="img/control.png"
            onmouseover="HiddenBlock('onmouseover', 'ctrl')"
            onmouseout="HiddenBlock('onmouseout', 'ctrl')"
          />
          <div
            id="ctrl"
            class="a_block"
            onmouseover="HiddenBlock('onmouseover', 'ctrl')"
            onmouseout="HiddenBlock('onmouseout', 'ctrl')"
          >
            <a href="#1"><%=items[0]%></a>
          </div>
        </li>
        <li style="margin: 80px 0">
          <img
            src="img/diet.png"
            onmouseover="HiddenBlock('onmouseover', 'food')"
            onmouseout="HiddenBlock('onmouseout', 'food')"
          />
          <div
            id="food"
            class="a_block"
            onmouseover="HiddenBlock('onmouseover', 'food')"
            onmouseout="HiddenBlock('onmouseout', 'food')"
          >
            <a href="#2"><%=items[1]%></a>
          </div>
        </li>
        <li style="margin: 80px 0">
          <img
            src="img/cardio.png"
            onmouseover="HiddenBlock('onmouseover', 'sport')"
            onmouseout="HiddenBlock('onmouseout', 'sport')"
          />
          <div
            id="sport"
            class="a_block"
            onmouseover="HiddenBlock('onmouseover', 'sport')"
            onmouseout="HiddenBlock('onmouseout', 'sport')"
          >
            <a href="#3"><%=items[2]%></a>
          </div>
        </li>
        <li style="margin: 80px 0">
          <img
            src="img/ins.png"
            onmouseover="HiddenBlock('onmouseover', 'ins')"
            onmouseout="HiddenBlock('onmouseout', 'ins')"
          />
          <div
            id="ins"
            class="a_block"
            onmouseover="HiddenBlock('onmouseover', 'ins')"
            onmouseout="HiddenBlock('onmouseout', 'ins')"
          >
            <a href="#4"><%=items[3]%></a>
          </div>
        </li>
        <li style="margin: 80px 0; padding-bottom: 25px">
          <img
            src="img/hypo.png"
            onmouseover="HiddenBlock('onmouseover', 'hypo')"
            onmouseout="HiddenBlock('onmouseout', 'hypo')"
          />
          <div
            id="hypo"
            class="a_block"
            onmouseover="HiddenBlock('onmouseover', 'hypo')"
            onmouseout="HiddenBlock('onmouseout', 'hypo')"
          >
            <a href="#5"><%=items[4]%></a>
          </div>
        </li>
      </ul>
    </div>
    <%} %>

    <div class="school" style="margin-left: 15px">
      <h2 id="1">Самоконтроль</h2>
      <p>
        Под самоконтролем понимают анализ некоторых параметров в домашних
        условиях: самостоятельное определение уровня сахара в крови и моче,
        кетоновых тел (ацетона) в моче, измерение веса и артериального давления.
        Ценность результатов, полученных при самоконтроле в домашних условиях,
        гораздо выше, поскольку они отражают ваше состояние в условиях реальной
        жизни. Проведение самоконтроля позволит Вам:
      </p>

      <ol>
        <li>Оценить эффективность подобранного лечения;</li>
        <li>
          Самостоятельно или при помощи врача произвести своевременную коррекцию
          доз инсулина, внести изменения в рацион питания и физическую
          активность;
        </li>
        <li>
          Оценить, как сделанные изменения влияют на управление сахарным
          диабетом;
        </li>
        <li>
          Стать активным участником лечебного процесса, понимать, что с вами
          происходит и управлять ситуацией.
        </li>
      </ol>
      <h4>Дневник самоконтроля</h4>
      <p>
        Все показатели, полученные при самоконтроле, а также информацию,
        касающуюся вашего рациона питания, физической активности и получаемой
        терапии, необходимо заносить в <i>Дневник самоконтроля</i> и показывать
        врачу при каждом посещении. Существуют программы, позволяющие считывать
        показания с вашего глюкометра в компьютер, добавлять туда другую
        информацию, и таким образом вести электронный дневник.
      </p>
      <h4>Контроль уровня глюкозы в крови</h4>
      <p>
        Основной целью управления сахарным диабетом является достижение
        <i>целевых показателей</i> уровня глюкозы в крови и
        <i>гликированного гемоглобина</i>, отражающего «средний» уровень глюкозы
        в крови за 2-3 месяца, чтобы не допустить развития осложнений сахарного
        диабета. Индивидуальную цель лечения (гликированный гемоглобин и уровень
        глюкозы натощак и после еды) Bы подбираете вместе с вашим врачом, она
        будет зависеть от нескольких условий: длительности заболевания и наличия
        осложнений, возраста и сопутствующих заболеваний и т.д. В большинстве
        случаев оптимальной целью является уровень гликированного гемоглобина <
        7%.
      </p>
      <table class="table">
        <thead>
          <tr>
            <th>Категория</th>
            <th>Уровень глюкозы утром</th>
            <th>Уровень глюкозы до приема пищи</th>
            <th>Уровень глюкозы спустя минимум 90 минут после приема пищи</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Здоровый человек</td>
            <td></td>
            <td>4.0-5.9 ммоль/л</td>
            <td>до 7.8 ммоль/л</td>
          </tr>
          <tr>
            <td>Человек с сахарным диабетом 1 типа</td>
            <td>4.5-7 ммоль/л</td>
            <td>4.5-7 ммоль/л</td>
            <td>5-9 ммоль/л</td>
          </tr>
        </tbody>
      </table>
      <p>
        Для самоконтроля уровня глюкозы в крови чаще всего используются
        глюкометры и специальные одноразовые тест-полоски. Но также можно
        использовать <i>систему непрерывного мониторирования глюкозы крови</i>,
        представляющую собой датчик, устанавливающийся на тело (чаще всего,
        руки), который предназначен для постоянного и автоматического
        определения значений глюкозы в <i>жидкости подкожной жировой ткани</i>
        в диапазоне 2.2-22 ммоль/л. Такое тщательное определение колебаний
        гликемии позволяет:
      </p>
      <ul>
        <li style="list-style-type: square">
          составить четкое представление о характере изменений уровня сахара в
          крови в течение суток;
        </li>
        <li style="list-style-type: square">
          выявить такие проблемы на пути к успешному управлению сахарным
          диабетом, как:
        </li>
        <ul>
          <li style="list-style-type: circle">
            хроническая передозировка инсулина (синдром Сомоджи);
          </li>
          <li style="list-style-type: circle">
            высокий уровень сахара в крови после гипогликемий;
          </li>
          <li style="list-style-type: circle">
            феномен «утренней зари» (Dawn-Phenomenon) — повышение уровня сахара
            в крови в ранние утренние часы;
          </li>
          <li style="list-style-type: circle">скрытые гипогликемии;</li>
          <li style="list-style-type: circle">неясные гипергликемии и т. д.</li>
        </ul>
        <li style="list-style-type: square">
          скорректировать сахароснижающую терапию с учетом полученных
          индивидуальных особенностей;
        </li>
        <li style="list-style-type: square">
          подобрать необходимую программу введения инсулина для помповой
          инсулинотерапии.
        </li>
      </ul>
      <p>
        Bы и врач получают полную картину колебаний уровня глюкозы в крови в
        течение суток, что невозможно при определении сахара в крови при помощи
        глюкометра. Это особенно актуально в ночные и ранние утренние часы,
        когда Bы спите и не проводит самоконтроль.
      </p>
      <img
        src="img/img.jpg"
        title="Датчик Freestyle Libre"
        style="
          width: 200px;
          height: 200px;
          position: absolute;
          right: 50px;
          top: 1700px;
        "
      />

      <h2 id="2">Питание</h2>
      <p>
        Появление глюкометров и новых препаратов инсулина, в том числе аналогов
        инсулина, а также современных средств введения инсулина — шприц-ручек,
        инсулиновой помпы, кардинально изменило жизнь людей с сахарным диабетом
        1 типа, в том числе и характер питания. Мы стали говорить о
        «либерализованной диете», то есть о расширении перечня продуктов,
        которые можно есть при сахарном диабете 1 типа. Однако более правильным
        будет забыть термин «диета», а говорить о том, что при сахарном диабете
        1 типа рекомендации по питанию не будут отличаться от таковых для
        здоровых людей за исключением одного условия — необходимо учитывать
        углеводы, они требуют введения определенной дозы инсулина.
      </p>
      <h4>Классификация углеводов</h4>
      <p>
        Неусвояемые углеводы (неподсчитываемые, неучитываемые) — это группа
        пищевых волокон, основным представителем которых является клетчатка:
      </p>
      <ol>
        <li>
          Содержится в овощах и практически не влияет на уровень глюкозы в
          крови, поэтому овощи можно не учитывать (есть без ограничения);
        </li>
        <li>Замедляет всасывание жиров (холестерина) и усвояемых углеводов;</li>
        <li>Улучшает работу кишечника.</li>
      </ol>
      <p>
        Усвояемые углеводы (подсчитываемые, учитываемые) можно разделить на
        медленно- и быстроусвояемые. Медленноусвояемые («сложные», «несладкие»,
        «медленные»):
      </p>
      <ol>
        <li>
          Единственным представителем является крахмал, который в кишечнике
          расщепляется до молекул глюкозы, которая и всасывается в кровь;
        </li>
        <li>
          Крахмал повышает уровень глюкозы в крови через 20-25 минут, поэтому их
          и называют «медленные» углеводы;
        </li>
        <li>
          Крахмал содержится в картофеле, зрелых бобовых (горох, фасоль),
          кукурузе, хлебе и хлебобулочных изделиях, крупах, макаронных изделиях,
          а также блюдах, содержащих муку (сырники, например);
        </li>
      </ol>
      <p>Быстроусвояемые («простые», «сладкие», «быстрые»):</p>
      <ol>
        <li>
          Представлены так называемыми «простыми» сахарами: моносахаридами
          глюкозой и фруктозой и дисахаридами сахарозой, мальтозой, лактозой;
        </li>
        <li>
          Моно- и дисахариды быстро всасываются в кровь (начало всасывания в
          ротовой полости) и повышают уровень глюкозы в крови через 5-10 минут,
          поэтому их и называют «быстрые» углеводы;
        </li>
        <li>
          Фруктоза (фруктовый сахар): фрукты и ягоды, натуральные соки, мед,
          варенье и джем;.
        </li>
        <li>
          Сахароза (тростниковый сахар): сахар и все, что его содержит —
          кондитерские изделия, сладкие напитки, соки и т.д.;
        </li>
        <li>
          Лактоза (молочный сахар): жидкие молочные продукты (молоко, сливки,
          йогурт и т.п.);
        </li>
      </ol>
      <p>
        К <i>подсластителям</i> (сахарозаменителям) относят аспартам, сахарин,
        цикламат и ацесульфам, которые не оказывают влияния на уровень глюкозы в
        крови и не обладают энергетической ценностью, поэтому их могут
        использовать даже люди с избыточной массой тела или ожирением. Кроме
        того, Bы можете позволить себе не отказываться совсем от сладких
        газированных напитков, лишь выберите диетические версии этих напитков
        (без сахара). Хотя даже в этом случае нельзя расценивать их как здоровое
        питание.
      </p>
      <h4>Хлебные единицы</h4>
      <p>
        Cистема «хлебных единиц» (или ХЕ) была разработана для того, чтобы
        соотнести количество употребляемых усваиваемых углеводов и дозы
        инсулина, вводимого перед едой. За 1 ХЕ принято считать 10-12 граммов
        усвояемых углеводов. Для подсчёта используем обычную формулу пропорций:
        \[x = {a \cdot b \over 100}\] где \(a\) — масса еды, а \(b\) —
        количество углеводов в 100 граммах еды.
      </p>
      <p>
        Приблизительное необходимое суточное количество ХЕ в зависимости от
        пола, массы тела и физической активности приведено в таблице ниже.
        Индивидуальную потребность Bы должны рассчитать и согласовать совместно
        с врачом.
      </p>
      <p>
        Известно, что 1 ХЕ повышает уровень глюкозы в крови в среднем на 2
        ммоль/л. Однако уровень глюкозы в крови после еды зависит не только от
        количества углеводов (ХЕ), но и от степени их всасывания, которая
        называется гликемическим индексом. Гликемические индексы некоторых
        продуктов (по сравнению с глюкозой, чей гликемический индекс составляет
        100%):
      </p>
      <ol>
        <li>
          Очень высокий (90-110%): квас и пиво, картофельное пюре, мед,
          поп-корн, сладкие и/или газированные напитки;
        </li>
        <li>
          Высокий (70-90%): белый хлеб, хлебцы, крекеры, бисквит, рис, мука
          пшеничная, крахмал, песочное тесто;
        </li>
        <li>
          Средний (50-70%): овсяные хлопья, бананы, кукуруза, вареный картофель,
          хлеб с отрубями, ржаной, черный;
        </li>
        <li>
          Низкий (30-50%): молоко, кефир, йогурт, фрукты, макаронные изделия,
          бобовые, мороженое.
        </li>
      </ol>

      <h2 id="3">Физическая активность</h2>
      <p>
        Помните, что физическая активность может быть причиной гипогликемии. Тем
        не менее, диагноз «сахарный диабет» — не повод отказываться от
        физкультуры или любимых видов спорта (исключения — дайвинг, альпинизм,
        парапланеризм — те виды спорта, при которых развитие гипогликемии может
        быть опасно в силу сложности ее купирования).
      </p>
      <p>
        Проверяйте свой уровень глюкозы в крови до начала спортивных занятий.
        Уровень глюкозы выше 13–14 ммоль/л и/или наличие кетоновых тел в моче
        свидетельствует о дефиците инсулина: физическую активность надо
        отложить. Уровень глюкозы ниже 3.9 ммоль/л говорит о гипогликемии,
        которую необходимо купировать до начала тренировки.
      </p>
      <p>
        Перед началом тренировки убедитесь, что у вас с собой есть запас
        быстроусвояемых углеводов (например, глюкоза в таблетках, недиетическая
        кока-кола, энергетический или спортивный напиток, сок, сахар). Также
        поставьте в известность тренера и/или друзей по команде о том, что у вас
        сахарный диабет, расскажите про симптомы гипогликемии и обучите их
        оказывать Вам помощь.
      </p>

      <h2 id="4">Инсулинотерапия</h2>
      <p>
        Поскольку при сахарном диабете 1-го типа все b-клетки поджелудочной
        железы погибают и инсулин не вырабатывается, то единственный способ
        поддерживать нормальный уровень глюкозы в крови — введение инсулина.
        Существует 2 способа имитации физиологической секреции инсулина:
      </p>
      <ol>
        <li>
          Режим многократных инъекций (синонимы: базис-болюсный режим,
          интенсифицированная схема инсулинотерапии):
          <ul>
            <li style="list-style-type: square">
              введение базального инсулина 1-2 раза в сутки в сочетании с
              болюсным инсулином перед каждым приемом пищи.
            </li>
          </ul>
        </li>
        <li>
          Непрерывная постоянная инфузия инсулина при помощи инсулиновой помпы
          (синоним: помповая инсулинотерапия):
          <ul>
            <li style="list-style-type: square">
              введение ультракороткого инсулина в непрерывном режиме;
            </li>
            <li style="list-style-type: square">
              в некоторых помпах есть возможность непрерывного мониторирования
              уровня глюкозы в крови (при дополнительной установке сенсора).
            </li>
          </ul>
        </li>
      </ol>
      <h4>Расчет дозы инсулина при режиме многократных инъекций</h4>
      <p>
        Суммарную суточную дозу инсулина вам необходимо рассчитать вместе с
        вашим врачом, поскольку она зависит от целого ряда факторов, и прежде
        всего от веса и длительности заболевания.
      </p>
      <p>Доза базального инсулина:</p>
      <ol>
        <li>Cоставляет 30-50% от суммарной суточной дозы;</li>
        <li>
          Вводится 1 или 2 раза в сутки в зависимости от профиля действия
          инсулина в одно и то же время;
        </li>
        <li>
          Один раз в 1-2 недели целесообразно измерение уровня глюкозы в 2-4
          часа ночи для исключения гипогликемии;
        </li>
        <li>
          Адекватность дозы оценивается по достижению целевого уровня глюкозы в
          крови натощак (для дозы инсулина, вводимого перед сном) и перед
          основными приемами пищи (для дозы инсулина, вводимого перед
          завтраком).
        </li>
      </ol>
      <p>
        Коррекция дозы базального независимо от времени введения проводится по
        срединому показателю уровня глюкозы натощак за 3 предыдущих дня:
      </p>
      <ol>
        <li>Если была гипогликемия, то доза уменьшается на 2 Ед;</li>
        <li>
          Если среднее значение глюкозы натощак выше целевого, то необходимо
          увеличить дозы на 2 Ед. Например, значения глюкозы в крови натощак 8.4
          и 7.2 ммоль/л. Цель лечения — глюкоза натощак 4.0 — 6.9 ммоль/л.
          Среднее значение — 7.2 ммоль/л — выше целевого, следовательно,
          необходимо увеличить дозу на 2 Ед.
        </li>
      </ol>
      <p>
        Суммарная доза ультракороткого инсулина составляет не менее 50% от
        суммарной суточной дозы и вводится перед каждым приемом пищи, содержащим
        углеводы. Доза инсулина зависит от:
      </p>
      <ol>
        <li>Количества углеводов (ХЕ), которое Bы планируете съесть;</li>
        <li>
          Планируемой физической активности после введения инсулина (может
          потребоваться уменьшение дозы);
        </li>
        <li>
          Адекватность дозы оценивается по уровню глюкозы в крови через 2 часа
          после еды;
        </li>
        <li>
          Индивидуальной потребности в инсулине на 1 ХЕ (в утренние часы на 1 ХЕ
          обычно требуется больше инсулина, чем днем и вечером)*.
        </li>
      </ol>
      <p>
        Расчет индивидуальной потребности в инсулине на 1 ХЕ осуществляется по
        «<i>Правилу 500</i>»: 500 / ССД = 1 Ед ультракороткого инсулина
        необходима для усвоения Х г углеводов.
      </p>
      <p>
        <i>Пример</i>: суммарная суточная доза = 60 Ед. 500 / 60 = 1 Ед
        ультракороткого инсулина необходима для усвоения 8,33 г углеводов,
        значит, для усвоения 1 ХЕ необходимо 1.5 Ед ультракороткого инсулина.
        Если содержание углеводов в пище 24 г (~2 ХЕ), надо ввести 3 Ед
        ультракороткого инсулина
      </p>
      <h2 id="5">Гипогликемия: что это?</h2>
      <p>
        Гипогликемия — это уровень глюкозы в крови ≤ 3.9 ммоль/л вне зависимости
        от того, испытываете ли Bы симптомы или нет. Название происходит от
        греческих «гипо» — низкий, «глик» — сладкий, «емия» — кровь. В
        разговорном жаргоне часто гипогликемию называют «гипо». Опасность
        гипогликемии состоит в том, что глюкоза постоянно необходима клеткам
        головного мозга.
      </p>
      <p>
        У здорового человека есть 2 механизма защиты от гипогликемии: при
        снижении уровня глюкозы в крови (например, при физической нагрузке)
        мгновенно прекращается выработка собственного инсулина, а из печени в
        кровь начинает поступать глюкоза — уровень глюкозы в крови повышается и
        гипогликемия не развивается.
      </p>
      <p>
        Гипогликемия, как правило, развивается только у пациентов с сахарным
        диабетом, получающих терапию инсулином или другими сахароснижающими
        препаратами. Мгновенно удалить из крови избыток сахароснижающих
        препаратов или инсулина невозможно (исключение — введение инсулина при
        помощи инсулиновой помпы, действие которой можно приостановить), а
        глюкоза в кровь из печени может поступать достаточно медленно или ее
        может не хватить для восстановления нормального уровня в крови. Именно
        поэтому гипогликемии при сахарном диабете требуют безотлагательных мер.
      </p>
      <p>
        Иногда Bы можете испытывать симптомы гипогликемии при нормальных
        значениях уровня глюкозы крови (выше 3.9 ммоль/л) — такие гипогликемии
        называются ложными. Они возникают в случае, если Bы длительное время
        жили с высоким уровнем глюкозы крови и привыкли к нему. Ложные
        гипогликемии не опасны и не требуют никаких мероприятий. Организм
        постепенно адаптируется к нормальному уровню глюкозы в крови и ложные
        гипогликемии прекратятся.
      </p>
      <img
        src="img/hypo_3.jpg"
        style="width: 460px; height: 600px; margin-left: 25px"
      />
      <img src="img/hypo.jpg" style="position: relative" />
      <img
        src="img/hypo_2.jpg"
        style="margin-left: 260px; margin-bottom: 50px"
      />
    </div>

    <footer>
      <!-- низ страницы -->
      <a href="#0"><img src="img/DIA.png" /></a>
      <div class="footer_menu">
        <ul style="padding-top: 11px">
          <li>Наш телефон: 8 800 55-35-35</li>
          <li>Наша почта: diainfo@gmail.com</li>
        </ul>
        <h3 style="margin: -50px 0 0 400px">
          Присоединяйтесь к нам в социальных сетях:
        </h3>
        <ul style="margin: -60px 0 0 745px">
          <li style="display: inline; padding-left: 50px">
            <a href=""
              ><img src="img/tg.png" style="width: 48px; height: 48px"
            /></a>
          </li>
          <li style="display: inline; padding-left: 50px">
            <a href=""
              ><img src="img/vk.png" style="width: 48px; height: 48px"
            /></a>
          </li>
          <li style="display: inline; padding-left: 50px">
            <a href=""
              ><img src="img/fb.png" style="width: 48px; height: 48px"
            /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>